body {
    background-image: url("../drawing.avif");
    background-size: cover;
    background-repeat: no-repeat;
  }
.drawing-box {
    
    width: 500px;
    height: 500px;
    border: 5px solid black;
}
.box
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons
{
    display: flex;
    align-items: center;
}


  