.drawing-box {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 2px 0 black;
  /* transform: scale(
    15.625
  ); /* scale up the image by a factor of 15.625 (32x15.625=500) */
  /* transform-origin: top left; */ 
  background-color: aliceblue;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
